 body {
      font-family: Arial, sans-serif;
      background: #acadae;
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }

    .container {
      width: 350px;
      background: rgb(246, 246, 246);
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    .profile-pic {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
      margin: auto;
    }

    .title {
      text-align: center;
      margin-top: 10px;
      color: #2c3e50;
    }

    p {
  font-size: 15px;
  color: #333;
  margin: 6px 0;
}

.container {
  border-left: 6px solid #16a085;
}

h3 {
  color: #34495e;
  text-decoration: underline;
}